Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/stuffkeeper.pc
depcomp
install-sh
intltool-extract
intltool-extract.in
intltool-merge
intltool-merge.in
intltool-update
intltool-update.in
libtool
ltmain.sh
missing
stamp-h1

##
# build po files
##
po/*.gmo
po/Makefile.in.in
po/POTFILES
po/stamp-it
src/.deps

##
# Stamp files
##
src/*.o
src/*.stamp
src/stuffkeeper-*.h
src/stuffkeeper-*.c

##
# Desktop files 
##
data/stuffkeeper.desktop

##
# Glade-crap
##
glade/stuffkeeper.glade.bak
glade/stuffkeeper.gladep

##
# Code for getting revision
##
src/Makefile.config
src/revision.h
