<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
        <title>
            StuffKeeper {item:title - %} 
        </title>
        <script language=javascript type='text/javascript'>
        function showhide(id){
            if (document.getElementById){
                obj = document.getElementById(id);
                if (obj.style.display == "none"){
                    obj.style.display = "";
                } else {
                    obj.style.display = "none";
                }
            }
        } 
        </script>
        <style  TYPE="text/css"> 
        body \{
            background: white;
            color: black;
            \}
        #heading \{
            background: #99ccFF;
            font-size: 4em;
            text-align: center;
            border-bottom: 1px dotted black;
        \}
        body \{
            margin: 0;
        \}
        pre \{
            white-space: normal;
        \}
        #content\{
            margin: 1em;
        \}
        #index\{
            margin: 1em;
        \}
        #item \{
            
        \}
        #item H3 \{
            background: #FFFFCC;
            border: 1px dotted black;
            padding: 0.5em;
        \}
        #hbox #vbox \{
            display: inline-block;
            vertical-align: top;
            padding-right: 1em;
            width: 45%;
            \}
        #hbox \{
            width: 100%;
            display: block;
            \}
        #name \{
            display: inline-block;
            width: 8em;
            text-align: right;
            vertical-align: top;
            font-weight: bold;
        \}
        #list \{
            margin-left: 8em;

        \}
        p \{
            padding-left: 7em;
            \}
        </style>
    </head>
    <body>
    <div id='heading'>
        StuffKeeper
    </div>
    <div id='content'>
    [s
        <div id='item'>
        <H3><a name='{item:id %}'>{item:title %}</a></H3>
        [i
                    {field:name <div id='name'>%</div>}
                    {field:string %<BR />
                    }{field:text <p>%</p><BR />
                    }{field:link <a href='%'>%</a><BR />
                    }{field:slider %/100<BR />
                    }{field:integer %<BR />
                    }{field:boolean <input type='checkbox' DISABLED %CHECKED:% /><BR />
                    }{field:image <img src='%' /><BR />
                    }{field:list <div id='list'>
                       }{field:list <i>%</i><BR />
                    }{field:list </div><BR />
                    }{field:horizontal packing <div id='hbox'>
                    }{field:vertical packing <div id='vbox'>
                    }{field:expander <BR /><div id='expander' style='display: %block:none%;'>
                    }{field:end </div>
                    }
        ]
        {item:tags <div id='name'>Tag</div> }{item:tags %, }{item:tags <BR />}
        </div>
    
    </div>
    </body>
</html>
