<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
        <title>
            StuffKeeper - {title} 
        </title>
    </head>
    <body>
    [s
        <H3>{title}</H3>
        <table>
        [i
            <tr>
                <td align='right' valign='top'>
                    <b>{name}</b>
                </td>
                <td>
                    {field}
                </td>
            <tr>
        ]
        </table>
    ]
    </body>
</html>
