<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
        <title>
            StuffKeeper - {title} 
        </title>
    </head>
    <body>
    [s
        <H3>{title}</H3>
        <table>
        [i
            <tr>
                <td align='right' valign='top'>
                    <b>{name}</b>
                </td>
                <td>
                    {field:string %
                    }{field:text <p>%</p>
                    }{field:link <a href='%'>%</a>
                    }{field:slider %/10
                    }{field:integer %
                    }{field:boolean %
                    }{field:image <img src='%' />
                    }{field:list <div id='list'>
                       }{field:list <i>%</i><BR />
                    }{field:list </div>}
                </td>
            <tr>
        ]
        </table>
    ]
    </body>
</html>
